body {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  background-image: url('./epic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  background-size: cover;
}

.launch-btn:focus,
.launch-btn:active,
.launch-btn.active {
  border: none;
  box-shadow: none;
}

a {
  color: #7df9ff;
} /* CSS link color (red) */

a:hover {
  color: #ffffff;
} /* CSS link hover (green) */

.outerCollapsible button {
  color: teal;
}

.jumbotron {
  background-color: rgb(0, 0, 0); /* Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); Black w/opacity/see-through */
  background-color: rgba(5, 13, 43, 0.4);
  color: white;
  min-height: 20rem;
  background-image: url(/machete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
  margin: 2.5%;
  margin-top: 4%;
  padding-bottom: 1.25%;
  width: 95%;
  min-width: 48.75rem;
  /* min-width: 75rem; */
  /* margin-top: 0rem; */
}

.jumbotron h1 {
  font-size: 3.5rem;
}

.jumbotron h4 {
  font-size: 1.5rem;
}

.placeholder {
  color: transparent;
}

.first-btn {
  margin-left: 0.5rem;
}
.headerBar {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 0rem;
  position: fixed;
  width: 100%;
  font-size: 1rem;
}

.header-btn {
  /* background-color: rgba(0, 0, 0, 0.4); Black w/opacity/see-through */
  /* color: rgb(5, 57, 226); */
  background-color: transparent;
  color: white;
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active,
.header-btn.active {
  color: white;
  background-color: #7df9ff;
  border-color: none; /*set the color you want here*/
  box-shadow: none;
}

::placeholder {
  font-size: 100%;
}

.table {
  color: white;
}

.main-content {
  margin: 2.5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 95%;
  font-size: 1rem;
  margin-top: 4%;
  /* min-width: 75rem; */
}

.main-content h2 {
  font-size: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-color: rgba(7, 66, 122, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  background-color: rgb(142, 223, 255);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background: rgb(105, 212, 255);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgba(7, 66, 122, 0.2);
  background: transparent;
}

.menu-item {
  width: 100%;
  border-radius: 0rem;
  text-align: left;
  padding-left: 2rem;
  background-color: rgba(7, 66, 122, 0.7);
  border-color: transparent;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active,
.menu-item.active {
  color: white;
  background-color: rgba(7, 66, 122, 0.7);
  box-shadow: none;
}

.list-btn {
  box-shadow: none;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  background-color: rgba(7, 66, 122, 0.7);
  border: none;
}
/*------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Variables */
/* General */

.bootn {
  color: black;
  font-size: 90px;
}

.centser {
  width: 180px;
  height: 60px;
  position: absolute;
}
.bootn3 {
  width: 6vw;
  font-size: 1.3vw;
  height: 3vw;
  margin: 0.25vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0rem;
  transition: 1s ease-in-out;
  margin-left: 0.75vw;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: black;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.bootn3:hover,
.bootn3:focus,
.bootn3:active,
.bootn3.active {
  transition: 1s ease-in-out;
  background: lightskyblue;
  outline: none;
  box-shadow: 0px 0px 0px 5px lightblue;
  color: red;
  border: none;
}

.bootn3:hover svg {
  stroke-dashoffset: -480;
}

.bootn3 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
/*---------------------------------------------------------------------------------------------------*/
.bootn4 {
  width: 13.5vw;
  font-size: 2vw;
  margin: 0.5rem;
  height: 4vw;
  cursor: pointer;
  outline: none;
  transition: 1s ease-in-out;
  margin-top: 2vw;
}
.bootn1 {
  color: black;
  font-size: 20px;
  padding-left: 1.9rem;
}
.bootn4:hover,
.bootn4:focus,
.bootn4:active,
.bootn4.active {
  transition: 1s ease-in-out;
  background: lightgreen;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px lightgreen;
  color: lightseagreen;
}

.bootn4:hover svg {
  stroke-dashoffset: -480;
}

.bootn4 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
/*------------------------------------------------------------*/
.resources {
  margin: 0vw;

  padding-left: 0.65vw;
}
.bootn5 {
  width: 7vw;
  font-size: 1.5vw;
  margin-top: 0.5vw;
  height: 3vw;
  cursor: pointer;
  background: lightgray;
  outline: none;
  transition: 1s ease-in-out;
  padding-right: 0rem;
}
.bootn2 {
  color: black;
  font-size: 3.5vw;
  padding-left: 0rem;
  margin-right: 0.75vw;
}
.bootn5:hover,
.bootn5:focus,
.bootn5:active,
.bootn5.active {
  transition: 1s ease-in-out;
  background: orange;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px orange;
  color: darkcyan;
}

.bootn5:hover svg {
  stroke-dashoffset: -480;
}

.bootn5 span {
  color: black;
  font-size: 18vw;
  font-weight: 100;
}
/*----------------------------------------------------------------------------*/
.bootn6 {
  width: 3vw;
  font-size: 0.5vw;
  margin: 0.25rem;
  height: 3vw;
  cursor: pointer;
  background: lightgray;
  outline: none;
  transition: 1s ease-in-out;
  padding-right: 0rem;
}
.bootn2 {
  color: black;
  font-size: 1.25vw;
  padding-left: 0rem;
}
.bootn6:hover,
.bootn6:focus,
.bootn6:active,
.bootn6.active {
  transition: 1s ease-in-out;
  background: powderblue;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px powderblue;
  color: darkred;
}

.bootn6:hover svg {
  stroke-dashoffset: -480;
}

.bootn6 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
/*-------------------------------------------------------------------------*/
.bootn7 {
  width: 12vw;
  font-size: 1vw;
  margin: 1rem;
  height: 5vw;
  cursor: pointer;
  background: lightgray;
  outline: none;
  transition: 1s ease-in-out;
  padding-right: 0rem;
}
.bootn4 {
  color: black;
  font-size: 25px;
  padding-left: 0rem;
}
.bootn7:hover,
.bootn7:focus,
.bootn7:active,
.bootn7.active {
  transition: 1s ease-in-out;
  background: powderblue;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px powderblue;
  color: darkolivegreen;
}

.bootn7:hover svg {
  stroke-dashoffset: -480;
}

.bootn7 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

.Fuel {
  font-size: 1.5vw;
  padding-left: 5.5vw;
  font-weight: bold;
}

.Settlers {
  padding-top: 2vw;
  font-size: 1.5vw;
  font-weight: bold;
}
/*-------------------------------------------------------------------------*/
.bootn69 {
  width: 6vw;
  font-size: 3vw;
  margin: 0.15rem;
  height: 3.25vw;
  cursor: pointer;
  background: lightgray;
  outline: none;
  transition: 1s ease-in-out;
  padding-right: 0.5rem;
  margin-left: 0.7vw;
}
.bootn79 {
  color: black;
  font-size: 15px;
  padding-left: 0.1rem;
}
.bootn69:hover,
.bootn69:focus,
.bootn69:active,
.bootn69.active {
  transition: 1s ease-in-out;
  background: lightpink;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px lightpink;
}

.bootn69:hover svg {
  stroke-dashoffset: -480;
}

.bootn69 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
.Oxygen {
  padding-left: 0.6vw;
  font-size: 18px;
  font-weight: bold;
}
.Equip {
  margin-top: 1.75vw;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: -1;
}
/*-------------------------------------------------------------------------*/
.bootn23 {
  width: 6vw;
  font-size: 1.5vw;
  margin: 0.5rem;
  height: 4vw;
  cursor: pointer;
  background: lightgray;
  outline: none;
  transition: 1s ease-in-out;
  padding-right: 0rem;
}
.bootn223 {
  color: black;
  font-size: 2vw;
  padding-left: 0rem;
}
.bootn23:hover,
.bootn23:focus,
.bootn23:active,
.bootn23.active {
  transition: 1s ease-in-out;
  background: lightsalmon;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px black, 0px 0px 0px 2.5px lightsalmon;
}

.bootn23:hover svg {
  stroke-dashoffset: -480;
}

.bootn23 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
/*-------------------------------------------------------------------------*/
.bootn3456 {
  width: 14.5vw;
  font-size: 1.5vw;
  margin-top: 2.5vw;
  height: 4vw;
  cursor: pointer;
  background: lightcoral;
  outline: none;
  transition: 1s ease-in-out;
}
.bootn7654 {
  color: black;
  font-size: 2vw;
  font-weight: bold;
  padding-right: 0.7vw;
}
.bootn3456:hover,
.bootn3456:focus,
.bootn3456:active,
.bootn3456.active {
  transition: 1s ease-in-out;
  background: orange;
  outline: none;
  box-shadow: 0px 0px 0px 2.5px orangered, 0px 0px 0px 2.5px orangered;
  color: darkred;
}

.bootn3456:hover svg {
  stroke-dashoffset: -480;
}

.bootn3456 span {
  color: yellow;
  font-size: 18px;
  font-weight: 100;
}
